.product-box{
    margin-bottom: 32px !important;
}

#menubar{
    height: 50px;
}

#menubar > ul{
    list-style: none;
    float: right;
    width: 100%;
}

#menubar > ul > li{
    float: right;
}

#menubar > ul > li > a{
    display: block;
    line-height: 50px;
    padding: 0 10px;
}